//- Part of the Discere grammar and language quiz site.
//- Copyright (C) 2014 Richard Larocque
//-
//- This program is free software; you can redistribute it and/or
//- modify it under the terms of the GNU General Public License as
//- published by the Free Software Foundation; either version 2 of the
//- License, or (at your option) any later version.
//-
//- This program is distributed in the hope that it will be useful, but
//- WITHOUT ANY WARRANTY; without even the implied warranty of
//- MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
//- General Public License for more details.
//-
//- You should have received a copy of the GNU General Public License
//- along with this program; if not, write to the Free Software
//- Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307
//- USA

h3.table_header Inflections
if (!word.forms['Nominative Singular'])
  .error Unable to fetch inflection table.
else
  table.reference
    tr
      th
      th Singular
      th Plural
    tr.section_start
      th Nominative
      td #{word.forms['Nominative Singular']}
      td #{word.forms['Nominative Plural']}
    tr
      th.side_header Genitive
      td #{word.forms['Genitive Singular']}
      td #{word.forms['Genitive Plural']}
    tr
      th.side_header Dative
      td #{word.forms['Dative Singular']}
      td #{word.forms['Dative Plural']}
    tr
      th.side_header Accusative
      td #{word.forms['Accusative Singular']}
      td #{word.forms['Accusative Plural']}
    tr
      th.side_header Ablative
      td #{word.forms['Ablative Singular']}
      td #{word.forms['Ablative Plural']}
    if word.forms['Vocative Singular']
      tr
        th.side_header Vocative
        td #{word.forms['Vocative Singular']}
        td #{word.forms['Vocative Plural']}
    if word.forms['Locative Singular']
      tr
        th.side_header Locative
        td #{word.forms['Locative Singular']}
        td #{word.forms['Locative Plural']}
