//- Part of the Discere grammar and language quiz site.
//- Copyright (C) 2014 Richard Larocque
//-
//- This program is free software; you can redistribute it and/or
//- modify it under the terms of the GNU General Public License as
//- published by the Free Software Foundation; either version 2 of the
//- License, or (at your option) any later version.
//-
//- This program is distributed in the hope that it will be useful, but
//- WITHOUT ANY WARRANTY; without even the implied warranty of
//- MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
//- General Public License for more details.
//-
//- You should have received a copy of the GNU General Public License
//- along with this program; if not, write to the Free Software
//- Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307
//- USA

h3.table_header Inflections
if (!word.forms['Nominative Singular Masculine'])
  .error Unable to fetch inflection table.
else
  table.reference
    tr
      th(rowspan=2)
      th.superheader.vsection_start(colspan=3) Singular
      th.superheader.vsection_start(colspan=3) Plural
    tr
      th.vsection_start Masculine
      th Feminine
      th Neuter
      th.vsection_start Masculine
      th Feminine
      th Neuter
    tr.section_start
      th.side_header Nominative
      td #{word.forms['Nominative Singular Masculine']}
      td #{word.forms['Nominative Singular Feminine']}
      td #{word.forms['Nominative Singular Neuter']}
      td #{word.forms['Nominative Plural Masculine']}
      td #{word.forms['Nominative Plural Feminine']}
      td #{word.forms['Nominative Plural Neuter']}
    tr
      th.side_header Genitive
      td #{word.forms['Genitive Singular Masculine']}
      td #{word.forms['Genitive Singular Feminine']}
      td #{word.forms['Genitive Singular Neuter']}
      td #{word.forms['Genitive Plural Masculine']}
      td #{word.forms['Genitive Plural Feminine']}
      td #{word.forms['Genitive Plural Neuter']}
    tr
      th.side_header Dative
      td #{word.forms['Dative Singular Masculine']}
      td #{word.forms['Dative Singular Feminine']}
      td #{word.forms['Dative Singular Neuter']}
      td #{word.forms['Dative Plural Masculine']}
      td #{word.forms['Dative Plural Feminine']}
      td #{word.forms['Dative Plural Neuter']}
    tr
      th.side_header Accusative
      td #{word.forms['Accusative Singular Masculine']}
      td #{word.forms['Accusative Singular Feminine']}
      td #{word.forms['Accusative Singular Neuter']}
      td #{word.forms['Accusative Plural Masculine']}
      td #{word.forms['Accusative Plural Feminine']}
      td #{word.forms['Accusative Plural Neuter']}
    tr
      th.side_header Ablative
      td #{word.forms['Ablative Singular Masculine']}
      td #{word.forms['Ablative Singular Feminine']}
      td #{word.forms['Ablative Singular Neuter']}
      td #{word.forms['Ablative Plural Masculine']}
      td #{word.forms['Ablative Plural Feminine']}
      td #{word.forms['Ablative Plural Neuter']}
