
h3.table_header Indicative
table.reference
  tr
    th(colspan=2,rowspan=2)
    th.superheader.vsection_start(colspan=3) Singular
    th.superheader.vsection_start(colspan=3) Plural
  tr
    th.vsection_start First
    th Second
    th Third
    th.vsection_start First
    th Second
    th Third
  tr.section_start
    th.side_superheader(rowspan=6) Active
    th.side_header Present
    td #{word.forms['Indicative Active Present Singular First']}
    td #{word.forms['Indicative Active Present Singular Second']}
    td #{word.forms['Indicative Active Present Singular Third']}
    td #{word.forms['Indicative Active Present Plural First']}
    td #{word.forms['Indicative Active Present Plural Second']}
    td #{word.forms['Indicative Active Present Plural Third']}
  tr
    th.side_header Future
    td #{word.forms['Indicative Active Future Singular First']}
    td #{word.forms['Indicative Active Future Singular Second']}
    td #{word.forms['Indicative Active Future Singular Third']}
    td #{word.forms['Indicative Active Future Plural First']}
    td #{word.forms['Indicative Active Future Plural Second']}
    td #{word.forms['Indicative Active Future Plural Third']}
  tr
    th.side_header Imperfect
    td #{word.forms['Indicative Active Imperfect Singular First']}
    td #{word.forms['Indicative Active Imperfect Singular Second']}
    td #{word.forms['Indicative Active Imperfect Singular Third']}
    td #{word.forms['Indicative Active Imperfect Plural First']}
    td #{word.forms['Indicative Active Imperfect Plural Second']}
    td #{word.forms['Indicative Active Imperfect Plural Third']}
  tr
    th.side_header Perfect
    td #{word.forms['Indicative Active Perfect Singular First']}
    td #{word.forms['Indicative Active Perfect Singular Second']}
    td #{word.forms['Indicative Active Perfect Singular Third']}
    td #{word.forms['Indicative Active Perfect Plural First']}
    td #{word.forms['Indicative Active Perfect Plural Second']}
    td #{word.forms['Indicative Active Perfect Plural Third']}
  tr
    th.side_header Future Perfect
    td #{word.forms['Indicative Active FuturePerfect Singular First']}
    td #{word.forms['Indicative Active FuturePerfect Singular Second']}
    td #{word.forms['Indicative Active FuturePerfect Singular Third']}
    td #{word.forms['Indicative Active FuturePerfect Plural First']}
    td #{word.forms['Indicative Active FuturePerfect Plural Second']}
    td #{word.forms['Indicative Active FuturePerfect Plural Third']}
  tr
    th.side_header Pluperfect
    td #{word.forms['Indicative Active Pluperfect Singular First']}
    td #{word.forms['Indicative Active Pluperfect Singular Second']}
    td #{word.forms['Indicative Active Pluperfect Singular Third']}
    td #{word.forms['Indicative Active Pluperfect Plural First']}
    td #{word.forms['Indicative Active Pluperfect Plural Second']}
    td #{word.forms['Indicative Active Pluperfect Plural Third']}
  tr.section_start
    th.side_superheader(rowspan=6) Passive
    th.side_header Present
    td #{word.forms['Indicative Passive Present Singular First']}
    td #{word.forms['Indicative Passive Present Singular Second']}
    td #{word.forms['Indicative Passive Present Singular Third']}
    td #{word.forms['Indicative Passive Present Plural First']}
    td #{word.forms['Indicative Passive Present Plural Second']}
    td #{word.forms['Indicative Passive Present Plural Third']}
  tr
    th.side_header Future
    td #{word.forms['Indicative Passive Future Singular First']}
    td #{word.forms['Indicative Passive Future Singular Second']}
    td #{word.forms['Indicative Passive Future Singular Third']}
    td #{word.forms['Indicative Passive Future Plural First']}
    td #{word.forms['Indicative Passive Future Plural Second']}
    td #{word.forms['Indicative Passive Future Plural Third']}
  tr
    th.side_header Imperfect
    td #{word.forms['Indicative Passive Imperfect Singular First']}
    td #{word.forms['Indicative Passive Imperfect Singular Second']}
    td #{word.forms['Indicative Passive Imperfect Singular Third']}
    td #{word.forms['Indicative Passive Imperfect Plural First']}
    td #{word.forms['Indicative Passive Imperfect Plural Second']}
    td #{word.forms['Indicative Passive Imperfect Plural Third']}
  tr
    th.side_header Perfect
    td #{word.forms['Indicative Passive Perfect Singular First']}
    td #{word.forms['Indicative Passive Perfect Singular Second']}
    td #{word.forms['Indicative Passive Perfect Singular Third']}
    td #{word.forms['Indicative Passive Perfect Plural First']}
    td #{word.forms['Indicative Passive Perfect Plural Second']}
    td #{word.forms['Indicative Passive Perfect Plural Third']}
  tr
    th.side_header Future Perfect
    td #{word.forms['Indicative Passive FuturePerfect Singular First']}
    td #{word.forms['Indicative Passive FuturePerfect Singular Second']}
    td #{word.forms['Indicative Passive FuturePerfect Singular Third']}
    td #{word.forms['Indicative Passive FuturePerfect Plural First']}
    td #{word.forms['Indicative Passive FuturePerfect Plural Second']}
    td #{word.forms['Indicative Passive FuturePerfect Plural Third']}
  tr
    th.side_header Pluperfect
    td #{word.forms['Indicative Passive Pluperfect Singular First']}
    td #{word.forms['Indicative Passive Pluperfect Singular Second']}
    td #{word.forms['Indicative Passive Pluperfect Singular Third']}
    td #{word.forms['Indicative Passive Pluperfect Plural First']}
    td #{word.forms['Indicative Passive Pluperfect Plural Second']}
    td #{word.forms['Indicative Passive Pluperfect Plural Third']}

h3.table_header Subjunctive
table.reference
  tr
    th(colspan=2,rowspan=2)
    th.superheader.vsection_start(colspan=3) Singular
    th.superheader.vsection_start(colspan=3) Plural
  tr
    th.vsection_start First
    th Second
    th Third
    th.vsection_start First
    th Second
    th Third
  tr.section_start
    th.side_superheader(rowspan=4) Active
    th.side_header Present
    td #{word.forms['Subjunctive Active Present Singular First']}
    td #{word.forms['Subjunctive Active Present Singular Second']}
    td #{word.forms['Subjunctive Active Present Singular Third']}
    td #{word.forms['Subjunctive Active Present Plural First']}
    td #{word.forms['Subjunctive Active Present Plural Second']}
    td #{word.forms['Subjunctive Active Present Plural Third']}
  tr
    th.side_header Imperfect
    td #{word.forms['Subjunctive Active Imperfect Singular First']}
    td #{word.forms['Subjunctive Active Imperfect Singular Second']}
    td #{word.forms['Subjunctive Active Imperfect Singular Third']}
    td #{word.forms['Subjunctive Active Imperfect Plural First']}
    td #{word.forms['Subjunctive Active Imperfect Plural Second']}
    td #{word.forms['Subjunctive Active Imperfect Plural Third']}
  tr
    th.side_header Perfect
    td #{word.forms['Subjunctive Active Perfect Singular First']}
    td #{word.forms['Subjunctive Active Perfect Singular Second']}
    td #{word.forms['Subjunctive Active Perfect Singular Third']}
    td #{word.forms['Subjunctive Active Perfect Plural First']}
    td #{word.forms['Subjunctive Active Perfect Plural Second']}
    td #{word.forms['Subjunctive Active Perfect Plural Third']}
  tr
    th.side_header Pluperfect
    td #{word.forms['Subjunctive Active Pluperfect Singular First']}
    td #{word.forms['Subjunctive Active Pluperfect Singular Second']}
    td #{word.forms['Subjunctive Active Pluperfect Singular Third']}
    td #{word.forms['Subjunctive Active Pluperfect Plural First']}
    td #{word.forms['Subjunctive Active Pluperfect Plural Second']}
    td #{word.forms['Subjunctive Active Pluperfect Plural Third']}
  tr.section_start
    th.side_superheader(rowspan=4) Passive
    th.side_header Present
    td #{word.forms['Subjunctive Passive Present Singular First']}
    td #{word.forms['Subjunctive Passive Present Singular Second']}
    td #{word.forms['Subjunctive Passive Present Singular Third']}
    td #{word.forms['Subjunctive Passive Present Plural First']}
    td #{word.forms['Subjunctive Passive Present Plural Second']}
    td #{word.forms['Subjunctive Passive Present Plural Third']}
  tr
    th.side_header Imperfect
    td #{word.forms['Subjunctive Passive Imperfect Singular First']}
    td #{word.forms['Subjunctive Passive Imperfect Singular Second']}
    td #{word.forms['Subjunctive Passive Imperfect Singular Third']}
    td #{word.forms['Subjunctive Passive Imperfect Plural First']}
    td #{word.forms['Subjunctive Passive Imperfect Plural Second']}
    td #{word.forms['Subjunctive Passive Imperfect Plural Third']}
  tr
    th.side_header Perfect
    td #{word.forms['Subjunctive Passive Perfect Singular First']}
    td #{word.forms['Subjunctive Passive Perfect Singular Second']}
    td #{word.forms['Subjunctive Passive Perfect Singular Third']}
    td #{word.forms['Subjunctive Passive Perfect Plural First']}
    td #{word.forms['Subjunctive Passive Perfect Plural Second']}
    td #{word.forms['Subjunctive Passive Perfect Plural Third']}
  tr
    th.side_header Pluperfect
    td #{word.forms['Subjunctive Passive Pluperfect Singular First']}
    td #{word.forms['Subjunctive Passive Pluperfect Singular Second']}
    td #{word.forms['Subjunctive Passive Pluperfect Singular Third']}
    td #{word.forms['Subjunctive Passive Pluperfect Plural First']}
    td #{word.forms['Subjunctive Passive Pluperfect Plural Second']}
    td #{word.forms['Subjunctive Passive Pluperfect Plural Third']}

h3.table_header Imperative
table.reference
  tr
    th.side_header Singular
    td #{word.forms['Imperative Singular']}
  tr
    th.side_header Plural
    td #{word.forms['Imperative Plural']}

h3.table_header Infinitives and Participles
table.reference
  tr
    th(rowspan=2)
    th.superheader.vsection_start(colspan=3) Active
    th.superheader.vsection_start(colspan=3) Passive
  tr
    th.vsection_start Present
    th Perfect
    th Future
    th.vsection_start Present
    th Perfect
    th Future
  tr.section_start
    th.side_header Infinitives
    td #{word.forms['Active Present Infinitive']}
    td #{word.forms['Active Perfect Infinitive']}
    td #{word.forms['Active Future Infinitive']}
    td #{word.forms['Passive Present Infinitive']}
    td #{word.forms['Passive Perfect Infinitive']}
    td #{word.forms['Passive Future Infinitive']}
  tr.section_start
    th.side_header Participles
    td #{word.forms['Nominative Singular Masculine Active Present Participle']}
    td #{word.forms['Nominative Singular Masculine Active Perfect Participle']}
    td #{word.forms['Nominative Singular Masculine Active Future Participle']}
    td #{word.forms['Nominative Singular Masculine Passive Present Participle']}
    td #{word.forms['Nominative Singular Masculine Passive Perfect Participle']}
    td #{word.forms['Nominative Singular Masculine Passive Future Participle']}
