
table
  tr
    th
    th(colspan=3) Singular
    th.spacer
    th(colspan=3) Plural
  tr
    th Case \ Gender
    th Masculine
    th Feminine
    th Neuter
    th.spacer
    th Masculine
    th Feminine
    th Neuter
  tr
    th Nominative
    td #{word.adjective_inflections['Nominative Singular Masculine']}
    td #{word.adjective_inflections['Nominative Singular Feminine']}
    td #{word.adjective_inflections['Nominative Singular Neuter']}
    td.spacer
    td #{word.adjective_inflections['Nominative Plural Masculine']}
    td #{word.adjective_inflections['Nominative Plural Feminine']}
    td #{word.adjective_inflections['Nominative Plural Neuter']}
  tr
    th Genitive
    td #{word.adjective_inflections['Genitive Singular Masculine']}
    td #{word.adjective_inflections['Genitive Singular Feminine']}
    td #{word.adjective_inflections['Genitive Singular Neuter']}
    td.spacer
    td #{word.adjective_inflections['Genitive Plural Masculine']}
    td #{word.adjective_inflections['Genitive Plural Feminine']}
    td #{word.adjective_inflections['Genitive Plural Neuter']}
  tr
    th Dative
    td #{word.adjective_inflections['Dative Singular Masculine']}
    td #{word.adjective_inflections['Dative Singular Feminine']}
    td #{word.adjective_inflections['Dative Singular Neuter']}
    td.spacer
    td #{word.adjective_inflections['Dative Plural Masculine']}
    td #{word.adjective_inflections['Dative Plural Feminine']}
    td #{word.adjective_inflections['Dative Plural Neuter']}
  tr
    th Accusative
    td #{word.adjective_inflections['Accusative Singular Masculine']}
    td #{word.adjective_inflections['Accusative Singular Feminine']}
    td #{word.adjective_inflections['Accusative Singular Neuter']}
    td.spacer
    td #{word.adjective_inflections['Accusative Plural Masculine']}
    td #{word.adjective_inflections['Accusative Plural Feminine']}
    td #{word.adjective_inflections['Accusative Plural Neuter']}
  tr
    th Ablative
    td #{word.adjective_inflections['Ablative Singular Masculine']}
    td #{word.adjective_inflections['Ablative Singular Feminine']}
    td #{word.adjective_inflections['Ablative Singular Neuter']}
    td.spacer
    td #{word.adjective_inflections['Ablative Plural Masculine']}
    td #{word.adjective_inflections['Ablative Plural Feminine']}
    td #{word.adjective_inflections['Ablative Plural Neuter']}
  if word.adjective_inflections['Vocative Singular Masculine']
    tr
      th Vocative
      td #{word.adjective_inflections['Vocative Singular Masculine']}
      td #{word.adjective_inflections['Vocative Singular Feminine']}
      td #{word.adjective_inflections['Vocative Singular Neuter']}
      td.spacer
      td #{word.adjective_inflections['Vocative Plural Masculine']}
      td #{word.adjective_inflections['Vocative Plural Feminine']}
      td #{word.adjective_inflections['Vocative Plural Neuter']}
