//- Part of the Discere grammar and language quiz site.
//- Copyright (C) 2014 Richard Larocque
//-
//- This program is free software; you can redistribute it and/or
//- modify it under the terms of the GNU General Public License as
//- published by the Free Software Foundation; either version 2 of the
//- License, or (at your option) any later version.
//-
//- This program is distributed in the hope that it will be useful, but
//- WITHOUT ANY WARRANTY; without even the implied warranty of
//- MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
//- General Public License for more details.
//-
//- You should have received a copy of the GNU General Public License
//- along with this program; if not, write to the Free Software
//- Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307
//- USA

extends layout

block includes
  title Grammar Quiz - Discere
  link(rel='stylesheet', href='/stylesheets/quiz.css')
  script(type='text/javascript' src='/javascripts/generic_quiz.js')

block content
  include header
  .content-wrapper
    .content
      script(type='text/javascript').
        var answers = !{JSON.stringify(answers)};
        var displayAnswers = !{JSON.stringify(displayAnswers)};
      h3
        a(href='/reference/' + word.id)= word.header
      h4.part= word.part_of_speech

      div.definitions
        ol
          each def in word.definitions
            li= def

      h3 Quiz
      ol.quizlist
        each question, index in questions
          li.quizitem
            form(onsubmit="return checkAnswer(answers, " + index + ")")
              span.question= question
              input(type="text", 'autocomplete'='off', 'autofocus'= (index === 0), id="input" + index)
              div(class="img-container", id="img" + index)
                img.wrong(src='/images/cross.svg')
                img.right(src='/images/checkmark.svg')
              span.answer
                div(id="answer" + index)
      form(onsubmit="location.reload()")
        #submitter-div
          input#submitter(type="submit" value="Next Page")
  include footer
