table
  th
    th Number
    th Singular
    th Plural
  tr
    th Nominative
    td #{word.noun_inflections['Nominative Singular']}
    td #{word.noun_inflections['Nominative Plural']}
  tr
    th Genitive
    td #{word.noun_inflections['Genitive Singular']}
    td #{word.noun_inflections['Genitive Plural']}
  tr
    th Dative
    td #{word.noun_inflections['Dative Singular']}
    td #{word.noun_inflections['Dative Plural']}
  tr
    th Accusative
    td #{word.noun_inflections['Accusative Singular']}
    td #{word.noun_inflections['Accusative Plural']}
  tr
    th Ablative
    td #{word.noun_inflections['Ablative Singular']}
    td #{word.noun_inflections['Ablative Plural']}
  if word.noun_inflections['Vocative Singular']
    tr
      th Vocative
      td #{word.noun_inflections['Vocative Singular']}
      td #{word.noun_inflections['Vocative Plural']}
  if word.noun_inflections['Locative Singular']
    tr
      th Locative
      td #{word.noun_inflections['Locative Singular']}
      td #{word.noun_inflections['Locative Plural']}
