
table.verb_conj
  tr
    th(colspan=2,rowspan=2) Indicative
    th(colspan=3) Singular
    th(colspan=3) Plural
  tr
    th First
    th Second
    th Third
    th First
    th Second
    th Third
  tr
    th(rowspan=6) Active
    th Present
    td #{word.verb_conjugations['Indicative Active Present Singular First']}
    td #{word.verb_conjugations['Indicative Active Present Singular Second']}
    td #{word.verb_conjugations['Indicative Active Present Singular Third']}
    td #{word.verb_conjugations['Indicative Active Present Plural First']}
    td #{word.verb_conjugations['Indicative Active Present Plural Second']}
    td #{word.verb_conjugations['Indicative Active Present Plural Third']}
  tr
    th Future
    td #{word.verb_conjugations['Indicative Active Future Singular First']}
    td #{word.verb_conjugations['Indicative Active Future Singular Second']}
    td #{word.verb_conjugations['Indicative Active Future Singular Third']}
    td #{word.verb_conjugations['Indicative Active Future Plural First']}
    td #{word.verb_conjugations['Indicative Active Future Plural Second']}
    td #{word.verb_conjugations['Indicative Active Future Plural Third']}
  tr
    th Imperfect
    td #{word.verb_conjugations['Indicative Active Imperfect Singular First']}
    td #{word.verb_conjugations['Indicative Active Imperfect Singular Second']}
    td #{word.verb_conjugations['Indicative Active Imperfect Singular Third']}
    td #{word.verb_conjugations['Indicative Active Imperfect Plural First']}
    td #{word.verb_conjugations['Indicative Active Imperfect Plural Second']}
    td #{word.verb_conjugations['Indicative Active Imperfect Plural Third']}
  tr
    th Perfect
    td #{word.verb_conjugations['Indicative Active Perfect Singular First']}
    td #{word.verb_conjugations['Indicative Active Perfect Singular Second']}
    td #{word.verb_conjugations['Indicative Active Perfect Singular Third']}
    td #{word.verb_conjugations['Indicative Active Perfect Plural First']}
    td #{word.verb_conjugations['Indicative Active Perfect Plural Second']}
    td #{word.verb_conjugations['Indicative Active Perfect Plural Third']}
  tr
    th Future Perfect
    td #{word.verb_conjugations['Indicative Active FuturePerfect Singular First']}
    td #{word.verb_conjugations['Indicative Active FuturePerfect Singular Second']}
    td #{word.verb_conjugations['Indicative Active FuturePerfect Singular Third']}
    td #{word.verb_conjugations['Indicative Active FuturePerfect Plural First']}
    td #{word.verb_conjugations['Indicative Active FuturePerfect Plural Second']}
    td #{word.verb_conjugations['Indicative Active FuturePerfect Plural Third']}
  tr
    th Pluperfect
    td #{word.verb_conjugations['Indicative Active Pluperfect Singular First']}
    td #{word.verb_conjugations['Indicative Active Pluperfect Singular Second']}
    td #{word.verb_conjugations['Indicative Active Pluperfect Singular Third']}
    td #{word.verb_conjugations['Indicative Active Pluperfect Plural First']}
    td #{word.verb_conjugations['Indicative Active Pluperfect Plural Second']}
    td #{word.verb_conjugations['Indicative Active Pluperfect Plural Third']}
  tr
    th(rowspan=6) Passive
    th Present
    td #{word.verb_conjugations['Indicative Passive Present Singular First']}
    td #{word.verb_conjugations['Indicative Passive Present Singular Second']}
    td #{word.verb_conjugations['Indicative Passive Present Singular Third']}
    td #{word.verb_conjugations['Indicative Passive Present Plural First']}
    td #{word.verb_conjugations['Indicative Passive Present Plural Second']}
    td #{word.verb_conjugations['Indicative Passive Present Plural Third']}
  tr
    th Future
    td #{word.verb_conjugations['Indicative Passive Future Singular First']}
    td #{word.verb_conjugations['Indicative Passive Future Singular Second']}
    td #{word.verb_conjugations['Indicative Passive Future Singular Third']}
    td #{word.verb_conjugations['Indicative Passive Future Plural First']}
    td #{word.verb_conjugations['Indicative Passive Future Plural Second']}
    td #{word.verb_conjugations['Indicative Passive Future Plural Third']}
  tr
    th Imperfect
    td #{word.verb_conjugations['Indicative Passive Imperfect Singular First']}
    td #{word.verb_conjugations['Indicative Passive Imperfect Singular Second']}
    td #{word.verb_conjugations['Indicative Passive Imperfect Singular Third']}
    td #{word.verb_conjugations['Indicative Passive Imperfect Plural First']}
    td #{word.verb_conjugations['Indicative Passive Imperfect Plural Second']}
    td #{word.verb_conjugations['Indicative Passive Imperfect Plural Third']}
  tr
    th Perfect
    td #{word.verb_conjugations['Indicative Passive Perfect Singular First']}
    td #{word.verb_conjugations['Indicative Passive Perfect Singular Second']}
    td #{word.verb_conjugations['Indicative Passive Perfect Singular Third']}
    td #{word.verb_conjugations['Indicative Passive Perfect Plural First']}
    td #{word.verb_conjugations['Indicative Passive Perfect Plural Second']}
    td #{word.verb_conjugations['Indicative Passive Perfect Plural Third']}
  tr
    th Future Perfect
    td #{word.verb_conjugations['Indicative Passive FuturePerfect Singular First']}
    td #{word.verb_conjugations['Indicative Passive FuturePerfect Singular Second']}
    td #{word.verb_conjugations['Indicative Passive FuturePerfect Singular Third']}
    td #{word.verb_conjugations['Indicative Passive FuturePerfect Plural First']}
    td #{word.verb_conjugations['Indicative Passive FuturePerfect Plural Second']}
    td #{word.verb_conjugations['Indicative Passive FuturePerfect Plural Third']}
  tr
    th Pluperfect
    td #{word.verb_conjugations['Indicative Passive Pluperfect Singular First']}
    td #{word.verb_conjugations['Indicative Passive Pluperfect Singular Second']}
    td #{word.verb_conjugations['Indicative Passive Pluperfect Singular Third']}
    td #{word.verb_conjugations['Indicative Passive Pluperfect Plural First']}
    td #{word.verb_conjugations['Indicative Passive Pluperfect Plural Second']}
    td #{word.verb_conjugations['Indicative Passive Pluperfect Plural Third']}
  tr
    th.header(colspan=2,rowspan=2) Subjunctive
    th(colspan=3) Singular
    th(colspan=3) Plural
  tr
    th First
    th Second
    th Third
    th First
    th Second
    th Third
  tr
    th(rowspan=4) Active
    th Present
    td #{word.verb_conjugations['Subjunctive Active Present Singular First']}
    td #{word.verb_conjugations['Subjunctive Active Present Singular Second']}
    td #{word.verb_conjugations['Subjunctive Active Present Singular Third']}
    td #{word.verb_conjugations['Subjunctive Active Present Plural First']}
    td #{word.verb_conjugations['Subjunctive Active Present Plural Second']}
    td #{word.verb_conjugations['Subjunctive Active Present Plural Third']}
  tr
    th Imperfect
    td #{word.verb_conjugations['Subjunctive Active Imperfect Singular First']}
    td #{word.verb_conjugations['Subjunctive Active Imperfect Singular Second']}
    td #{word.verb_conjugations['Subjunctive Active Imperfect Singular Third']}
    td #{word.verb_conjugations['Subjunctive Active Imperfect Plural First']}
    td #{word.verb_conjugations['Subjunctive Active Imperfect Plural Second']}
    td #{word.verb_conjugations['Subjunctive Active Imperfect Plural Third']}
  tr
    th Perfect
    td #{word.verb_conjugations['Subjunctive Active Perfect Singular First']}
    td #{word.verb_conjugations['Subjunctive Active Perfect Singular Second']}
    td #{word.verb_conjugations['Subjunctive Active Perfect Singular Third']}
    td #{word.verb_conjugations['Subjunctive Active Perfect Plural First']}
    td #{word.verb_conjugations['Subjunctive Active Perfect Plural Second']}
    td #{word.verb_conjugations['Subjunctive Active Perfect Plural Third']}
  tr
    th Pluperfect
    td #{word.verb_conjugations['Subjunctive Active Pluperfect Singular First']}
    td #{word.verb_conjugations['Subjunctive Active Pluperfect Singular Second']}
    td #{word.verb_conjugations['Subjunctive Active Pluperfect Singular Third']}
    td #{word.verb_conjugations['Subjunctive Active Pluperfect Plural First']}
    td #{word.verb_conjugations['Subjunctive Active Pluperfect Plural Second']}
    td #{word.verb_conjugations['Subjunctive Active Pluperfect Plural Third']}
  tr
    th(rowspan=4) Passive
    th Present
    td #{word.verb_conjugations['Subjunctive Passive Present Singular First']}
    td #{word.verb_conjugations['Subjunctive Passive Present Singular Second']}
    td #{word.verb_conjugations['Subjunctive Passive Present Singular Third']}
    td #{word.verb_conjugations['Subjunctive Passive Present Plural First']}
    td #{word.verb_conjugations['Subjunctive Passive Present Plural Second']}
    td #{word.verb_conjugations['Subjunctive Passive Present Plural Third']}
  tr
    th Imperfect
    td #{word.verb_conjugations['Subjunctive Passive Imperfect Singular First']}
    td #{word.verb_conjugations['Subjunctive Passive Imperfect Singular Second']}
    td #{word.verb_conjugations['Subjunctive Passive Imperfect Singular Third']}
    td #{word.verb_conjugations['Subjunctive Passive Imperfect Plural First']}
    td #{word.verb_conjugations['Subjunctive Passive Imperfect Plural Second']}
    td #{word.verb_conjugations['Subjunctive Passive Imperfect Plural Third']}
  tr
    th Perfect
    td #{word.verb_conjugations['Subjunctive Passive Perfect Singular First']}
    td #{word.verb_conjugations['Subjunctive Passive Perfect Singular Second']}
    td #{word.verb_conjugations['Subjunctive Passive Perfect Singular Third']}
    td #{word.verb_conjugations['Subjunctive Passive Perfect Plural First']}
    td #{word.verb_conjugations['Subjunctive Passive Perfect Plural Second']}
    td #{word.verb_conjugations['Subjunctive Passive Perfect Plural Third']}
  tr
    th Pluperfect
    td #{word.verb_conjugations['Subjunctive Passive Pluperfect Singular First']}
    td #{word.verb_conjugations['Subjunctive Passive Pluperfect Singular Second']}
    td #{word.verb_conjugations['Subjunctive Passive Pluperfect Singular Third']}
    td #{word.verb_conjugations['Subjunctive Passive Pluperfect Plural First']}
    td #{word.verb_conjugations['Subjunctive Passive Pluperfect Plural Second']}
    td #{word.verb_conjugations['Subjunctive Passive Pluperfect Plural Third']}

table.verb_conj
  tr
    th(colspan=2) Imperatives
  tr
    th Singular
    td #{word.verb_conjugations['Imperative Singular']}
  tr
    th Plural
    td #{word.verb_conjugations['Imperative Plural']}

table.verb_conj
  tr
    th
    th(colspan=3) Active
    th(colspan=3) Passive
  tr
    th
    th Present
    th Perfect
    th Future
    th Present
    th Perfect
    th Future
  tr
    th Infinitives
    td #{word.verb_conjugations['Active Present Infinitive']}
    td #{word.verb_conjugations['Active Perfect Infinitive']}
    td #{word.verb_conjugations['Active Future Infinitive']}
    td #{word.verb_conjugations['Passive Present Infinitive']}
    td #{word.verb_conjugations['Passive Perfect Infinitive']}
    td #{word.verb_conjugations['Passive Future Infinitive']}
  tr
    th Participles
    td #{word.verb_conjugations['Active Present Participle']}
    td #{word.verb_conjugations['Active Perfect Participle']}
    td #{word.verb_conjugations['Active Future Participle']}
    td #{word.verb_conjugations['Passive Present Participle']}
    td #{word.verb_conjugations['Passive Perfect Participle']}
    td #{word.verb_conjugations['Passive Future Participle']}
